<!DOCTYPE html>
<html lang="en">
  <head>
    <% include common/header %>
  </head>
  <body>
    <% include common/nav %>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 page-header text-center">
          <h1 class="highlight main">Example App</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <form action="/" method="POST" id="idea-form">
            <span class="white">Name:</span> <input type="text" placeholder="Name" name="name">
            <span class="white">Email:</span> <input type="text" placeholder="Email" name="email">
            <br>
            <br>
            <textarea row="4" cols="50" name="idea"></textarea>
            <br>
            <br>
            <button class="btn btn-primary btn-lg" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <hr>

    <div class="container">
      <div class="row">
        <h2 class="text-center">Sustainability Ideas</h2>
        <div class="col-md-12">
          <div class="table-container white">
            <table id="idea-catalog" class="table margin-top">
              <thead>
                <tr>
                  <th>
                    Name
                  </th>
                  <th>
                    Email
                  </th>
                  <th>
                    Idea
                  </th>
                  <th>
                    <!-- Delete -->
                  </th>
                </tr>
              </thead>
              <tbody>
                <% ideas.forEach(function(idea, i) { %>
                  <tr>
                    <td>
                      <%= idea.name %>
                    </td>
                    <td>
                      <%= idea.email %>
                    </td>
                    <td>
                      <%= idea.idea %>
                    </td>
                    <td>
                      <form action="/delete" method="POST">
                        <input type="hidden" name="ideaID" value="<%= idea._id %>">
                        <button type="submit" class="btn btn-danger btn-sm">Delete <%= idea._id %></button>
                      </form>
                    </td>
                  </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
          <% if (ideas.length < 1) { %>
            <div class="row white text-center">
              No Ideas Yet!
            </div>
          <% } %>
        </div>
      </div>
    </div>

    <% include common/footer %>
  </body>
</html>